<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="sk">
<head>
    <meta charset="UTF-8">
    <title>CoronaStatApp - Db Administration</title>
    <link rel="stylesheet"
          href="/css/dbadmin.css"
          media="screen"/>
</head>
<body>
<h1>CoronaStatApp - Db Administration</h1>
<p>Tu sa zobrazuju informacie o externej a internej databaze</p>

<table class="demo">
    <caption>Porovnanie dat Lokalna vs. externa DB</caption>
    <thead>
    <tr>
        <th>Entita</th>
        <th>Pocet zapisov na lok. DB</th>
        <th>Posledny zapis</th>
        <th>Pocet zapisov v externej DB</th>
        <th>Posledny zapis</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>VaccinationContact</td>
        <td>
            <th:block th:text="${VaccinationContactLocalSize}"></th:block>
        </td>
        <td>&nbsp;</td>
        <td>
            <th:block th:text="${VaccinationContactGovSize}"></th:block>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Region</td>
        <td>
            <th:block th:text="${RegionLocalSize}"></th:block>
        </td>
        <td>&nbsp;</td>
        <td>
            <th:block th:text="${RegionGovSize}"></th:block>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>

</body>
</html>