<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      lang="sk">
<head>
    <meta charset="UTF-8">
    <title>CoronaStatApp - Db Administration</title>


</head>
<body>
<main layout:fragment="content">
    <h1>CoronaStatApp - Db Administration</h1>
    <p>Tu sa zobrazuju informacie o externej a internej databaze</p>

    <table class="table table-bordered">

        <thead>
        <tr>
            <th>Entita</th>
            <th>Pocet zapisov na lok. DB</th>
            <th>Posledny zapis</th>
            <th>Pocet zapisov v externej DB</th>
            <th>Posledny zapis</th>
            <th>button</th>
            <th>button</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>DistrictAgTests</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>RegionAgTests</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>SlovakiaAgTests</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Hospital</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>City</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>District</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Region</td>
            <td>
                <th:block th:text="${RegionLocalSize}"></th:block>
            </td>
            <td>variable not exists</td>
            <td>
                <th:block th:text="${RegionGovSize}"></th:block>
            </td>
            <td>variable not exists</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Vaccine</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>HospitalBeds</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>DistrictHospitalBeds</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>RegionHospitalBeds</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>SlovakiaHospitalBeds</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>HospitalPatients</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>DistrictHospitalPatients</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>RegionHospitalPatients</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>SlovakiaHospitalPatients</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>HospitalStaff</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Vaccinations</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>RegionVaccinations</td>
            <td>
                <th:block th:text="${RegionVaccinationLocalSize}"></th:block>
            </td>
            <td>&nbsp;</td>
            <td>
                <th:block th:text="${RegionVaccinationGovSize}"></th:block>
            </td>
            <td>&nbsp;</td>
            <td>
                <a href="/dbadministration/clear?tablename=regionvaccination">Clear local table</a>
            </td>
            <td>
                <a href="/dbadministration/clearandfill?tablename=regionvaccination">Clear and fill local table</a>
            </td>
        </tr>
        <tr>
            <td>SlovakiaVaccinations</td>
            <td>
                <th:block th:text="${SlovakiaVaccinationLocalSize}"></th:block>
            </td>
            <td></td>
            <td>
                <th:block th:text="${SlovakiaVaccinationGovSize}"></th:block>
            </td>
            <td>&nbsp;</td>
            <td>
                <a href="/dbadministration/clear?tablename=slovakiavaccination">Clear local table</a>
            </td>
            <td>
                <a href="/dbadministration/clearandfill?tablename=slovakiavaccination">Clear and fill local table</a>
            </td>
        </tr>
        <tr>
            <td>VaccinationContact</td>
            <td>
                <th:block th:text="${VaccinationContactLocalSize}"></th:block>
            </td>
            <td>&nbsp;</td>
            <td>
                <th:block th:text="${VaccinationContactGovSize}"></th:block>
            </td>
            <td>&nbsp;</td>
            <td>
                <a href="/dbadministration/clear?tablename=vaccinationcontact">Clear local table</a>
            </td>
            <td>
                <a href="/dbadministration/clearandfill?tablename=vaccinationcontact">Clear and fill local table</a>
            </td>
        </tr>

        </tbody>
    </table>

</main>

</body>
</html>